.portfolio
  %header.portfolio__header
    %h1.portfolio__header__title
      YUICHIRO's portfolio
    %nav.portfolio__header__nav
      %ul.portfolio__header__nav__list
        %li.portfolio__header__nav__list__profile
          profile
        %li.portfolio__header__nav__list__skill
          skill
        %li.portfolio__header__nav__list__works
          works
        %li.portfolio__header__nav__list__contact
          contact
  %main.portfolio__main
    .portfolio__main__profile
      %h2.portfolio__main__profile__title 
        profile
      .portfolio__main__profile__icon
      .portfolio__main__profile__text
        大貫佑一郎と申します。
    .portfolio__main__skill
      %h2.portfolio__main__skill__title
        skill
      .portfolio__main__skill__front
        フロントエンド
      .portfolio__main__skill__back
        バックエンド
      .portfolio__main__skill__design
        コーディング
      .portfolio__main__skill__db
        DB
      .portfolio__main__skill__infrastracture
        インフラ・サーバー
      .portfolio__main__skill__others
        その他
    .portfolio__main__works
      %h2.portfolio__main__works__title
        works
      .portfolio__main__works__mercari
        メルカリ
  %footer
