.portfolio {
  background-color: #f5f5f5;
  &__header {
    background-image: image-url("programing.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding: auto 0;
    &__title {
      width: 100%;
      position: absolute;
      font-size: 80px;
      color: #FFF;
      padding-top: 40vh;
    }
    &__nav {
      width: 60vw;
      position: absolute;
      left: 20vw;
      bottom: 10vh;
      &__list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        font-size: 30px;
        color: #FFF;
        &__title {
          cursor: pointer;
        }
      }
    }
  }
  &__header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
  }
  &__main {
    position: relative;
    margin-top: 100px;
    padding: 0 15vw;
    &__profile {
      &__box {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        &__icon {
          &__img {
            border-radius: 50%;
            width: 250px;
            height: 250px;
          }
        }
        &__text {
          font-weight: normal;
          margin-left: 70px;
          line-height: 2rem;
          letter-spacing: 6px;
          overflow: auto;
          max-height: 50vh;
        }
      }
    }
    &__skill {
      margin-top: 100px;
      &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        margin-top: 50px;
        &__field {
          width: 30vw;
          background-color: #FFF;
          border: 1px solid #dcdcdc;
          border-radius: 5px;
          box-shadow: 2px 2px 2px 2px #808080;
          &__title {
            margin: 5vh 0;
          }
          &__lang {
            width: 15vw;
            display: inline-block;
            font-size: 20px;
            margin: 5vh 0;
            &__list {
              line-height: 10vh;
            }
          }
          &__period {
            width: 14vw;
            display: inline-block;
            font-size: 20px;
            margin-top: 5vh;
            &__list {
              line-height: 10vh;
            }
          }
        }
      }
    }
    &__works {
      margin-top: 100px;
      &__field {
        display: flex;
        margin-top: 50px;
        &__box {
          background-color: #c0c0c0;
          margin-left: 3.25vw;
          width: 15vw;
          box-shadow: 2px 2px 2px 2px #808080;
          border-radius: 5px;
          &__img {
            position: relative;
            width: 15vw;
            height: 15vw;
            background-color: blue;
            border-radius: 5px;
            &__url {
              width: 15vw;
              height: 15vw;
              border-radius: 5px;
            }
          }
          &__title {
            margin-top: 2vh;
            text-align: center;
            font-weight: 700;
          }
        }
        &__box:first-child {
          margin-left: 0;
        }
      }
    }
  }
  &__footer {
    margin-top: 100px;
    background-color: #24353a;
    color: #FFF;
    height: 40vh;
    &__box {
      padding-top: 50px;
      text-align: center;
      &__title {
        font-size: 30px;
        font-weight: 700;
      }
      &__mail {
        font-size: 1rem;
        overflow: auto;
        border: 1px solid #FFF;
        width: 23vw;
        height: 5vh;
        margin: 2vh auto;
        line-height: 5vh;
      }
      &__twitter {
        margin-top: 2vh;
        &__icon {
          font-size: 50px;
          color: #FFF;
        }
      }
    }
  }
  .detail-portfolio {
    display: none;
  }
  .detail-freemarket {
    display: none;
  }
  .detail-saaaaving {
    display: none;
  }
  .detail-myblog {
    display: none;
  }
  &__detail {
    background-color: #dcdcdc;
    margin-top: 50px;
    &__title {
      text-align: center;
      font-size: 40px;
      padding-top: 20px;
    }
    &__box {
      padding: 20px 10vw 20px;
      &__url {
        padding-bottom: 20px;
        display: flex;
        border-bottom: 1px solid #c0c0c0;
        &__cord {
          padding-left: 20vw;
        }
      }
      &__source {
        padding-bottom: 20px;
        margin-top: 20px;
        display: flex;
        border-bottom: 1px solid #c0c0c0;
        &__cord {
          padding-left: 15.7vw;
        }
      }
      &__description {
        padding-bottom: 20px;
        margin-top: 20px;
        display: flex;
        border-bottom: 1px solid #c0c0c0;
        &__cord {
          padding-left: 20vw;
        }
      }
      &__skill {
        padding-bottom: 20px;
        margin-top: 20px;
        display: flex;
        border-bottom: 1px solid #c0c0c0;
        &__cord {
          padding-left: 15.7vw;
        }
      }
    }
  }
}

h2 {
  font-size: 50px;
  color: #696969;
  text-align: center;
}

ul {
  list-style: none;
}
